@import "./layout.scss";

$prim-color: white;

body {
  background: #101723;
  color: $prim-color;
}

.container {
  min-height: 100vh;
}

.layout {
  margin: 0 auto;
  // max-width: 100vw;
  padding: 1rem 1rem;
  min-height: calc(100vh - 62.1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 960;
    padding: 1rem;
  }
  i {
    margin: 0 0.5rem 0 0;
  }
  ul {
    margin: 0;
    list-style: none;
    display: flex;
    li {
      margin: 0 1rem;
      a {
        text-decoration: none;
        color: $prim-color;
        &:hover {
          color: darken($prim-color, 25%);
        }
      }
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin: 2%;
  }
  p {
    font-size: 1.1rem;
  }
  .img {
    min-width: 300px;
  }
}

@keyframes link {
  0% {
    color: #fa8072;
  }
  50% {
    color: lighten(#fa8072, 25%);
  }
  100% {
    color: #fa8072;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
  }
  ul {
    // color: salmon;
    list-style: none;
  }
  a {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #fa8072;
    &:hover {
      animation-name: link;
      animation-duration: 1s;
      color: lighten(#fa8072, 10%);
    }
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playground {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    max-width: 90vw;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form input[type="text"] {
    text-transform: lowercase;
  }
  input {
    border-radius: 6px;
    border: 1px solid transparent;
    max-width: 100%;
    &:focus {
      background-color: gray;
      color: wheat;
    }
  }
}

@media only screen and (max-width: 700px) {
  .about {
    flex-direction: column;
    h1 {
      text-align: center;
    }
  }
}
