body {
  background: #101723;
  color: white;
}

header {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-Width: 960;
    padding: 1rem;
  }
  ul {
    margin: 0;
    list-style: none;
    display: flex;
    li {
      margin: 0 1rem;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: wheat;
        }
      }
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin: 2%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  a {
    color: salmon;
    margin: 0.5rem 0;
  }
}
@media only screen and (max-width: 700px) {
  main {
    flex-direction: column;
  }
}
